<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密码</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>修改管理员密码</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="commentForm" method="post" action="{:url('admin/savepass')}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户名：</label>
                            <div class="input-group col-sm-4">
                                {$admininfo.username}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">修改密码：</label>
                            <div class="input-group col-sm-4">
                                <input id="password" type="text" class="form-control" name="password"  placeholder="修改密码" maxlength="40">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">再次输入修改密码：</label>
                            <div class="input-group col-sm-4">
                                <input id="pwd" type="text" class="form-control" name="pwd"  placeholder="再次输入修改密码" maxlength="40">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-6">
                                <input id="uid" type="hidden" name="uid" value="{$admininfo.id}">
                                <input class="btn btn-primary" type="submit" value="提交">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/plugins/iCheck/icheck.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script src="__JS__/jquery.form.js"></script>
<script>
    //用form表单插件实现表单提交
    $(function () {
        $('#commentForm').ajaxForm({
            beforeSubmit:  checkForm,
            success:  complete,
            dataType: 'json'
        });
        //表单判断
        function checkForm(){

        }
        //表单提交后返回结果
        function complete(data){
            if(data.code == 1){
                layer.alert(data.msg, {title: '友情提示', icon: 1},function () {
                    window.location.href=data.url;
                });
            }else{
                layer.msg(data.msg);
            }
        }
    });
</script>

</body>
</html>
