<!DOCTYPE html>
<html lang="en">
    <title>莘庄工会管理后台</title>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>活动用户信息</title>
            <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
            <link href="__CSS__/font-awesome.min.css" rel="stylesheet">
            <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
            <link href="__CSS__/animate.min.css" rel="stylesheet">
            <link href="__CSS__/style.min.css" rel="stylesheet">
            <link href="__CSS__/style.css" rel="stylesheet">
            <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
        </head>
<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>活动用户信息列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->
            <form method="get" class="form-inline pull-right" action="{:url('userlist');}">
                <div class="content clearfix m-b">
                    <div class="form-group">
                        <label>用户姓名：</label>
                        <input type="text" class="form-control" name='realname' value="{$realname}">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" style="margin-top:5px"  type="submit" value="搜 索">
                    </div>
                </div>
            </form>
            <!--搜索框结束-->
            <div class="example-wrap">
                <div class="example">
                    <div class="bootstrap-table">
                        <div class="fixed-table-toolbar"></div>
                        <div class="fixed-table-container">
                            <div class="fixed-table-body">
                                <table id="cusTable" class="table table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th><div class="th-inner ">ID</div></th>
                                        <th><div class="th-inner ">活动名称</div></th>
                                        <th><div class="th-inner ">姓名</div></th>
                                        <th><div class="th-inner ">身份证</div></th>
                                        <th><div class="th-inner ">工作单位</div></th>
                                        <th><div class="th-inner ">邮箱</div></th>
                                        <th><div class="th-inner ">性别</div></th>
                                        <th><div class="th-inner ">地址</div></th>
                                        <th><div class="th-inner ">工会名称</div></th>
                                        <th><div class="th-inner ">添加时间</div></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="listResult" id="vo" key="k"}
                                    <tr>
                                        <td>{$vo.id}</td>
                                        <td>{$vo.activity_name}</td>
                                        <td>{$vo.realname}</td>
                                        <td>{$vo.code}</td>
                                        <td>{$vo.company}</td>
                                        <td>{$vo.email}</td>
                                        <td>{$vo.sex}</td>
                                        <td>{$vo.address}</td>
                                        <td>{$vo.union_name}</td>
                                        <td>{$vo.created_at}</td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="page_right">{$page}</div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
</body>
</html>